@section scripts {
    <script type="text/javascript" src="@Url.Content("/Scripts/Home/Home.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/jquery.blockUI.js")"></script>
}

<div id="feedsContainer"></div>